@charset "utf-8";
@font-face{
    font-family: Bubblegum;
    src: url(BubblegumSans-Regular.ttf) format('truetype');
}
/* HTML and Body Styles */
html{
    background-color: #C40712;
}
body{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    background-color: white;
    text-align: center;
    font-family: 'Bubblegum', sans-serif;
}
/** Header Styles */
div.row#header img{
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    display: block;
}
div#logo{
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-color: #c40711;
    margin-bottom: 10px;
}
/** Link Text Styles */
a{
    text-decoration: none;
}
a:link, a:visited{
    color: brown;
}
a:hover, a:active{
    color: #555555;
}
/* Div Col Styles */
div[class^="col-"]{
    float: left;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
div.col-1-1{width: 100%}
div.col-1-4{width: 25%} 
div.col-3-4{width: 75%}
/** Prevents container colapse */
div.row::after{
    clear: both;
    content: "";
    display: table;
}
/** Generation Header Styles */
h2{
    font-size: 3vw;
    margin: 20px 0px;
}
/** Adds a horizontal line after the section name for gen 1, 2, and 3 only */
/** Also sets a grey color the the line that appears */
div.row[id^="gen"]:nth-of-type(1), div.row[id^="gen"]:nth-of-type(2), 
div.row[id^="gen"]:nth-of-type(3), div.row[id^="gen"]:nth-of-type(4){
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-color: #8f8f8f;
    margin-bottom: 10px;
}
/** Generation Pokemon Styles */
div[id^="gen"] a{
    font-size: 1.5vw;
}
/* Footer Styles */
footer a{
    text-decoration:none;
    color: firebrick;
}
/** Sets some room below the footer to make the page look less squished */
/** Adds some room between the footer division line and the footer */
/** Also adds a makeshift horizontal line between the footer and the main page */
footer{
    padding-top: 10px;
    padding-bottom: 5px;
    border-top-style: solid;
    border-top-width: 4px;
    border-color: #c40711;
    margin-top: 10px;
}