@charset "utf-8";
/* jeremiah ruiz
    9-30-19 */
    







    /* Nav */

    div.row{
        float: left;
        display:block;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center
    }
    div#