<!DOCTYPE html>
<html>
    <head>
        <!--These meta tags describe the char encoding for the page as well as define kewords for SEO-->
        <meta charset="UTF-8"/>
        <meta name="Arceus" content="pokemon, stats, info, legendary"/>
        <!--Title for the tab bar that appears on the browser-->
        <title>Arceus Info</title>
        <link href="PokeReset.css" rel="styleSheet" />
        <link href="PokeStyles.css" rel="styleSheet" />
        <link href="PokeGrids_Info.css" rel="styleSheet" />
    </head>
    <body>
        <div class="row" id="header">
            <div class="col-1-1">
                <!--Logo-->
                <figure>
                    <!--This is the logo image with a hyperlink to the homepage if clicked-->
                    <a href="index.html"><img src="images/logo.png" width="350 px" legnth="350 px" alt="Pokemon Wiki"/></a>
                </figure>
            </div>
        </div>
        <!--Navigation bar, has links to each section of the site map page by generation-->
        <div class="row" id="navTop">
            <ul>
                <div class="col-1-4" id="gen1">
                    <li><a href="siteMap.html#gen1">Gen 1</a></li>
                </div>
                <div class="col-1-4" id="gen2">
                    <li><a href="siteMap.html#gen2">Gen 2</a></li>
                </div>
                <div class="col-1-4" id="gen3">
                    <li><a href="siteMap.html#gen3">Gen 3</a></li>
                </div>
                <div class="col-1-4" id="gen4">
                    <li><a href="siteMap.html#gen4">Gen 4</a></li>
                </div>
            </ul>
            <hr />
        </div>
        <div class="row">
            <div class="col-2-4" id="article"></div>
            <div class="col-1-4" id="quickStats"></div>
            <div class="col-1-4" id="aside">
                <!--Advertismant photo set up in the aside-->
                <figure>
                        <img src="images/ad1ClubPenguin.png" width="267 px" legnth="368 px" alt="Club Penguin Ad"/>
                </figure>
                <!--Advertismant photo set up in the aside-->
                <figure>
                        <img src="images/ad2Nintendo.jpg" width="267 px" legnth="475 px" alt="Switch Ad"/>
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-1-1" id="footer">
                <!--Footer seperated by an horizontal rule, contains copyright info and contact info-->
                <footer>
                    <hr/>
                    Copyright &copy; 2019 Pokemon Wiki <br/>
                    Contact Us &amp; <a href="mailto:support@pokemonwiki.com">support@pokemonwiki.com</a> 
                    or <a href="tel:+1234567890">123-456-7890</a>
                </footer>
            </div>
        </div>
    </body>
</html>